{% extends 'base.html' %}

{# Hide the antispam field labels for the  Django's defailt form output #}
{% block extra_head %}
  <style type="text/css">
    label[for="id_url"], label[for="id_load_time"] {
      display: none;
    }
  </style>
{% endblock extra_head %}

{% block content %}
<h1>Login via email</h1>

<div class="card bg-white p-8 lg:p-16 rounded shadow-lg prose">
  <form action="{% url 'magiclink:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
    {% csrf_token %}
    <p>{{ login_form }}</p>
    <input type="submit" value="Send login email" class="button-outline font-bold my-8">
  </form>
  {% if require_signup %}
    <hr class="my-8">
    <p>Don't have an account? <a href="{% url 'magiclink:signup' %}">Sign up here</a></p>
  {% endif %}
</div>
{% endblock %}
