# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

DEBUG = False

# In case Sing-up and Profile functionality is NOT needed:
# (Note, since that switch is meant as temporary, it does NOT fully disable magiclink and other associated functionality. And later will be removed. => TODO)
#SIGNUP_ENABLED = False
