{% extends 'base.html' %}

{% load static tz %}

{% block extra_head %}
<script src="{% static 'web/js/htmx.min.js' %}" defer></script>
{% endblock extra_head %}

{% block content %}
{% get_current_timezone as current_timezone %}

<br>

<h1>{{ title }}</h1>

<div class="bg-green-600 text-white gap-4 p-4 rounded mx-auto lg:flex items-center font-bold mb-4">
  <img class="w-32 hidden lg:block" src="{% static 'web/images/events-icon.svg' %}">
  <div>
    <p>
      Collection of past activities &amp; events hosted by the community during previous editions of Open Education Week.
    </p>
  </div>
</div>

<form method="get" onchange="this.submit()">
  <div class="grid gird-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 md:gap-x-4 gap-y-6 bg-green-600 text-white mb-4 p-4">
    <div>
      {{ filter.form.language.label_tag }}
      {{ filter.form.language }}
    </div>
    <div>
      {{ filter.form.year.label_tag }}
      {{ filter.form.year }}
    </div>
    <noscript>
      <div>
        <input type="submit" value="Filter" class="button-outline font-bold">
      </div>
    </noscript>
  </div>
</form>

<p>
  <form hx-post="{% if reload_after_timezone_change %}{% url 'set_timezone_reload' %}{% else %}{% url 'set_timezone' %}{% endif %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="change" hx-target="#timezone_result">
      <i class="fal fa-clock"></i> <strong>current time: <span style='background-color: #ffffcc;'>{{ current_time_utc | date:'M d, Y H:i' }}</span></strong>
      <select name="timezone" class="px-3 py-2 rounded-lg">
          {% for tz in timezones %}
          <option value="{{ tz }}"{% if tz == current_timezone %} selected{% endif %}>{{ tz }}</option>
          {% endfor %}
      </select>
      (UTC time: {{ current_time_utc | utc | date:'M d, Y H:i' }})
  </form>
</p>
<div class="hidden" id="timezone_result">/{{ current_timezone }}/</div>

{% if event_count %}
    <p><i class="fal fa-calculator"></i> <strong>Showing {{ event_count }} events</strong></p>
    <br>
{% endif %}

<div class="grid gird-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-x-4 gap-y-6">

    {% for event in event_list %}

        <div class="bg-white mb-2 rounded-lg shadow-sm transition-shadow overflow-hidden hover:shadow-lg border-2 border-gray-200 hover:border-purple-500">

            <div class="item-media">
                {% if event.consolidated_image_url_list %}
                <a href="/events/{{event.year}}/{{event.slug}}/"><img loading="lazy" src="{{ event.consolidated_image_url_list }}" class="object-cover w-full h-40"></a>
                {% else %}
                    {% load static %}
                    <a href="/events/{{event.year}}/{{event.slug}}/"><img rel="stylesheet" src="{% static 'web/images/placeholder-event-sm.png' %}" class="object-cover w-full h-40"></a>
                {% endif %}
            </div>
            <div class="p-4">
                <h3 class="text-base leading-tight mb-2">
                    <a href="/events/{{event.year}}/{{event.slug}}/">
                        <span class="hidden">#{{ forloop.counter }}.</span>
                        <span class="font-bold">{{ event.title }}</span>
                    </a>
                </h3>
                <p class="text-sm"><i class="fal fa-university"></i> {{ event.institution }}</p>

                {% if event.institution_is_oeg_member %}
                <p class="text-sm mb-1"><i class="fal fa-badge-check"></i><span style="background-color: #ffffcc;"> OEGlobal member<span></p>
                {% endif %}

                <p class="text-sm mb-1"><i class="fal fa-globe-asia"></i> {{ event.country }}, {{ event.city }}</p>

                <p class="text-sm mb-1">
                    <i class="fal fa-calendar-star"></i> {{ event.event_time|date:'M d, Y H:i' }} <em>({{ current_timezone }})</em>
                    {% if event.event_offset_in_hours %}
                        <span style="color: #cc0000;">&nbsp;
                        {{ event.event_offset_in_hours }}
                        </span>
                    {% endif %}

                    {% if event.event_time_link_to_everytimezone %}
                        <span style="color: #999999;">&nbsp;
                        <em><a href="{{ event.event_time_link_to_everytimezone }}" target="_blank">(view in other timezones)</a></em>
                        </span>
                    {% endif %}
                </p>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}
