{% extends 'web/base.html' %}

{% block content %}

<h1>OE Week Events</h1>

<div class="grid gird-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-x-8">
{% for event in event_list %}
    {# {{ forloop.counter }} # starting index 1 #}
    {# {{ forloop.counter0 }} # starting index 0 #}
    {# {% if forloop.first %} #}
    {# {% if forloop.last %} #}

    <div class="bg-white mb-2 rounded-lg shadow-sm hover:shadow-lg transition-shadow overflow-hidden">
        <!-- Mario's placeholder image. Load custom image when possible -->        

        {% if obj.image_url %}
        <img src="{{ image_url }}">
        {% else %}
        {% load static %}
        <a class="text-lg leading-tight block" href="/events/{{event.year}}/{{event.slug}}/"><img rel="stylesheet" src="{% static 'web/images/placeholder-event-sm.png' %}" class="mb-4 w-full"></a>
        {% endif %}

        <div class="p-4">
            <a class="text-lg leading-tight block mb-2" href="/events/{{event.year}}/{{event.slug}}/"><span class="hidden">#{{ forloop.counter }}.</span> 
            <span class="font-bold">{{ event.title }}</span></a>

            <i class="fa-light fa-building-columns"></i> {{ event.institution }}<br>
            {{event.country }}, {{event.city}}<br>
            {% if event.event_time %}
                {{ event.event_time|date:'M d, Y H:i' }} 
        
            {% else %}
                (no time specified)
            {% endif %}
        </div>
    </div>
{% endfor %}
    </div>

{% endblock %}
