{% extends 'web/base.html' %}

{% block content %}

<h1><i class="fad fa-calendar-alt"></i> OE Week Events</h1>

<p><strong>Please click on a date to expand the details.</strong></p>
<br/>

{% for day in days %}
<details>

<summary><span style="color: #666666; font-size: 20pt; font-weight: bold; cursor: pointer;">{{ day.1 }}</span></summary>

<div class="grid gird-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-x-4 gap-y-6">
{% for event in event_list %}
{% if event.event_oeweekday == day.0 %}

    {# {{ forloop.counter }} # starting index 1 #}
    {# {{ forloop.counter0 }} # starting index 0 #}
    {# {% if forloop.first %} #}
    {# {% if forloop.last %} #}

    <div class="bg-white mb-2 rounded-lg shadow-sm transition-shadow overflow-hidden hover:shadow-lg border-2 border-gray-200 hover:border-purple-500">
        <!-- Mario's placeholder image. Load custom image when possible -->        
        <div class="item-media">
            {% if obj.image_url %}
            <a href="/events/{{event.year}}/{{event.slug}}/"><img src="{{ image_url }}" class="object-cover h-150px md:h-120px"></a>
            {% else %}
                {% load static %}
                <a href="/events/{{event.year}}/{{event.slug}}/"><img rel="stylesheet" src="{% static 'web/images/placeholder-event-sm.png' %}" class="mb-4 w-full"></a>
            {% endif %}
        </div>

        <div class="p-4">
            <h3 class="text-base leading-tight mb-2">
                <a href="/events/{{event.year}}/{{event.slug}}/"><span class="hidden">#{{ forloop.counter }}.</span>
                <span class="font-bold">{{ event.title }}</span></a>
            </h3>

            <p class="text-sm mb-1"><i class="fal fa-university"></i> {{ event.institution }}</p>

            <p class="text-sm mb-1"><i class="fal fa-globe-asia"></i> {{event.country }}, {{event.city}}</p>

            <p class="text-sm mb-1">
                {% if event.event_time %}
                    <i class="fal fa-calendar-star"></i> {{ event.event_time|date:'M d, Y H:i' }} <span style="background-color: #ffffcc;"><em>(event's timezone)</em><span>
                {% else %}
                <i class="fal fa-calendar-exclamation"></i> (no time specified)
                {% endif %}
            </p>
        </div>
    </div>
{% endif %}
{% endfor %}
    </div>

</details>
{% endfor %}

{% endblock %}
