{% extends 'web/base.html' %}

{% block content %}

<h1>OE Week Events</h1>

<ul>
{% for event in event_list %}
    {# {{ forloop.counter }} # starting index 1 #}
    {# {{ forloop.counter0 }} # starting index 0 #}
    {# {% if forloop.first %} #}
    {# {% if forloop.last %} #}

    <li class="p-4 my-4 rounded-lg shadow-sm hover:shadow-lg transition-shadow">
        <a class="text-lg leading-tight" href="/events/{{event.year}}/{{event.slug}}/">#{{ forloop.counter }}:
        <span class="font-bold">{{ event.title }}</span></a><br>
        {{ event.institution }},
        {{event.country }}, {{event.city}}
        {% if event.event_time %}
            {{ event.event_time|date:'Y-m-d H:i' }} </li>
        {% else %}
            (no time specified)
        {% endif %}

{% endfor %}
<ul>

{% endblock %}
