{% extends 'web/base.html' %}

{% block content %}

<h1>{{ obj.title }}</h1>

<a class="mb-4 block" href="/resources/">&#8592;Back to list of resources</a>

<div class="mb-4 border-b-2 pb-4">{{ obj.content }}</div>

<a href="{{ obj.institution_url }}">{{ obj.institution }}</a>
{% if obj.twitter_institution %}
    (Twitter: {{ obj.twitter_institution }})
{% endif %}

{% if obj.institution_is_oeg_member %}
    (OEG MEMBER)
{% endif %}

<br>
({{ obj.country }}, {{ obj.city }})
<br>

Contributed by: {{ obj.firstname }} {{ obj.lastname }}
{% if obj.twitter_personal %}
    (Twitter: {{ obj.twitter_personal }})
{% endif %}
<br>

Language: {{ obj.form_language }}
<br>

Link: <a href="{{ obj.link }}">{{ obj.link }}</a>
<br>

License: {{ obj.license }}
<br>

{% endblock %}
