{% extends 'web/base.html' %}

{% block content %}

<h1>OE Week Resources</h1>

<ul>
{% for resource in resource_list %}

    <li class="p-4 mb-2 rounded-lg shadow-sm hover:shadow-lg transition-shadow">
        <a class="text-lg leading-tight block" href="/resources/{{resource.year}}/{{resource.slug}}/">#{{ forloop.counter }}.
        <span class="font-bold">{{ resource.title }}</span></a>
        {{ resource.institution }},
        {{ resource.country }}, {{ event.city }}
    </li>

{% endfor %}
<ul>

{% endblock %}
