{% extends 'web/base.html' %}

{% block content %}

<h1><i class="fad fa-box-open"></i> OE Week Resources</h1>

{% if resource_count %}
    <p><i class="fal fa-calculator"></i> <strong>Showing {{ resource_count }} resources</strong></p>
    <br>
{% endif %}

<div class="grid gird-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-x-4 gap-y-6">
    
    {% for resource in resource_list %}

        <div class="bg-white mb-2 rounded-lg shadow-sm transition-shadow overflow-hidden hover:shadow-lg border-2 border-gray-200 hover:border-purple-500">

            <div class="item-media">
                {% if resource.image_url %}
                <a href="/resources/{{resource.year}}/{{resource.slug}}/"><img src="{{ resource.image_url }}" class="object-cover h-150px md:h-120px"></a>
                {% else %}
                    {% load static %}
                    <a href="/resources/{{resource.year}}/{{resource.slug}}/"><img rel="stylesheet" src="{% static 'web/images/placeholder-asset-sm.png' %}" class="mb-4 w-full"></a>
                {% endif %}
            </div>
            <div class="p-4">
                <h3 class="text-base leading-tight mb-2">
                    <a href="/resources/{{resource.year}}/{{resource.slug}}/">
                        <span class="hidden">#{{ forloop.counter }}.</span>
                        <span class="font-bold">{{ resource.title }}</span>
                    </a>
                </h3>
                <p class="text-sm"><i class="fal fa-university"></i> {{ resource.institution }}</p>

                {% if resource.institution_is_oeg_member %}
                <p class="text-sm mb-1"><i class="fal fa-badge-check"></i><span style="background-color: #ffffcc;"> OEGlobal member<span></p>
                {% endif %}

                <p class="text-sm mb-1"><i class="fal fa-globe-asia"></i> {{ resource.country }}, {{ resource.city }}</p>
            </div>
        </div>

    {% endfor %}
    
</div>

{% endblock %}
