{% extends 'web/base.html' %}

{% block content %}

<h1>{{ obj.title }}</h1>

<a class="mb-4 block" href="/resources/">&#8592;Back to list of resources</a>

<div class="card bg-white p-4 lg:p-8 rounded grid lg:grid-cols-2 gap-4">

    <div class="detail-media">
        {% if obj.image_url %}
        <img src="{{ obj.image_url }}">
        {% else %}
        {% load static %}
        <img rel="stylesheet" src="{% static 'web/images/placeholder-asset.png' %}" class="mb-4 w-full">
        {% endif %}
    </div>

    <div class="detail-content mb-4 lg:px-4">

        <div class="text-sm mb-8 bg-gray-100 p-4 rounded">{{ obj.content | safe }}</div>

        <p class="mb-2"><i class="fal fa-university"></i> <a href="{{ obj.institution_url }}">{{ obj.institution }}</a></p>

        {% if obj.twitter_institution %}
            <p class="mb-2"><i class="fab fa-twitter"></i> Twitter: {{ obj.twitter_institution }}</p>
        {% endif %}

        {% if obj.institution_is_oeg_member %}
            <p class="mb-2"><i class="fal fa-badge-check"></i> OEGlobal Member</p>
        {% endif %}

        <p class="mb-2"><i class="fal fa-globe-asia"></i> {{ obj.country }}, {{ obj.city }}</p>

        <p class="mb-2">
            <i class="fal fa-user-circle"></i> Contributed by: {{ obj.firstname }} {{ obj.lastname }}
            {% if obj.twitter_personal %}
                (Twitter: {{ obj.twitter_personal }})
            {% endif %}
        </p>

        <p class="mb-2"><i class="fal fa-globe"></i> Language: {{ obj.form_language }}</p>

        <p class="my-6"><a href="{{ obj.link }}" class="bg-purple-500 text-white p-2 rounded hover:bg-purple-800 block"><i class="fal fa-external-link-alt"></i> {{ obj.link }}</a></p>

        <p><i class="fab fa-creative-commons"></i> License: {{ obj.license }}</p>
        <br>

        {% if user.is_authenticated %}
            <div style="color: white; background-color:red; font-weight: bold;">Hello {{ user.get_username }}! <a href="/admin/web/resource/{{ obj.id }}/change/">Click to edit this resource.</a></div>
        {% endif %}

    </div>

</div>

{% endblock %}
