{% extends 'base.html' %}

{% load static web_extras %}

{% block content %}

<br>

<h1>{{ title }}</h1>

{% if filter %}
{% if show_description_box %}
<div class="bg-red-400 gap-4 p-4 lg:p-8 rounded w-full lg:flex items-center mb-4">
  <img class="mx-auto w-32 hidden lg:block" src="{% static 'web/images/library-icon.svg' %}">

  <p class="font-bold text-white text-lg">
      Collection of open assets shared by the community in previous Open Education Week editions since 2015.
  </p>

</div>
{% endif %} {# show_description_box #}

<form method="get" onchange="this.submit()">
  <div class="grid gird-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 md:gap-x-4 gap-y-6 bg-red-400 text-white mb-4 p-4">
    <div>
      {{ filter.form.language.label_tag }}
      {{ filter.form.language }}
    </div>
    <div>
      {{ filter.form.opentags.label_tag }}
      {{ filter.form.opentags }}
    </div>
    <div>
      {{ filter.form.year.label_tag }}
      {{ filter.form.year }}
    </div>
    <noscript>
      <div>
        <input type="submit" value="Filter" class="button-outline font-bold">
      </div>
    </noscript>
  </div>
</form>
{% endif %}

{% if resource_count %}
    <p><i class="fal fa-calculator"></i> <strong>Showing {{ resource_count }} {% if resource_count_total %}(out of {{ resource_count_total }}) {% endif %}resources</strong></p>
    <br>
{% else %}
    <p>Call for participation for OEWeek starts on <strong>January 23, 2023</strong>.<br>Please come back to see new events afterwards, or contribute your own.</p>
{% endif %}

<div class="grid gird-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-x-4 gap-y-6">

    {% for resource in resource_list %}

        <div class="bg-white mb-2 rounded-lg shadow-sm transition-shadow overflow-hidden hover:shadow-lg border-2 border-gray-200 hover:border-purple-500">

            <div class="item-media">
                {% if resource.consolidated_image_url_list %}
                <a href="/resources/{{resource.year}}/{{resource.slug}}/"><img loading="lazy" src="{{ resource.consolidated_image_url_list }}" class="object-cover w-full h-40"></a>
                {% else %}
                    {% load static %}
                    <a href="/resources/{{resource.year}}/{{resource.slug}}/"><img rel="stylesheet" src="{% static 'web/images/placeholder-asset-sm.png' %}" class="object-cover w-full h-40"></a>
                {% endif %}
            </div>
            <div class="item-content p-4">
                <h3 class="item-title leading-tight mb-2">
                    <a href="/resources/{{resource.year}}/{{resource.slug}}/">
                        <span class="hidden">#{{ forloop.counter }}.</span>
                        <span class="font-bold">{{ resource.title }}</span>
                    </a>
                </h3>
                <p class="text-sm"><i class="fal fa-university"></i> {{ resource.institution }}</p>

                {% if resource.institution_is_oeg_member %}
                <p class="text-sm mb-1"><i class="fal fa-badge-check"></i><span style="background-color: #ffffcc;"> OEGlobal member<span></p>
                {% endif %}

                {% if resource.country %}
                <p class="text-sm mb-1"><i class="fal fa-globe-asia"></i> {{ resource.country }}, {{ resource.city }}</p>
                {% endif %}
            </div>
        </div>

    {% endfor %}
</div>

{% if filter and resource_list.has_other_pages %}
<div>
    {% if resource_list.has_previous %}
    <a href="?{% param_replace page=resource_list.previous_page_number %}">&laquo;</a>
    {% else %}
    &laquo;
    {% endif %}
    {% for i in resource_list.paginator.page_range %}
        {% if resource_list.number == i %}
        <strong>{{ i }}</strong>
        {% else %}
        <a href="?{% param_replace page=i %}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    {% if resource_list.has_next %}
    <a href="?{% param_replace page=resource_list.next_page_number %}">&raquo;</a>
    {% else %}
    &raquo;
    {% endif %}
</div>
{% endif %}

{% endblock %}
