{% extends 'base.html' %}

{% block content %}

<h1>Thank you!</h1>
<div class="prose">
    <p>Thank you for contributing "{{ title }}" for Open Education Week. You will be notified by email about the status of your contribution, and once accepted, it will be added to the OE Week website.</p>

    <h2>You may now:</h2>

    <ul>
      <li><a href="/edit/{{ uuid }}/">Review/edit</a> your entry</li>
      <li><a href="{{ contribute_similar }}">Submit a new entry</a> (with same contact information)</li>
      <li><a href="/">Return</a> to Open Education Week</li>
    </ul>
</div>
{% endblock %}
