:root {
	--color-orange: rgba(255,149,51,1);
	--color-gray-900: rgba(26,26,26,1);
	--color-gray-800: rgba(51,51,51,1);
	--color-gray-700: rgba(77,77,77,1);
	--color-gray-600: rgba(102,102,102,1);
	--color-gray-500: rgba(128,128,128,1);
	--color-gray-400: rgba(153,153,153,1);
	--color-gray-300: rgba(178,178,178,1);
	--color-gray-200: rgba(217,217,217,1);
	--color-gray-100: rgba(245,245,245,1);
	--color-gray-white: rgba(255,255,255,1);
	--color-fucsia-900: rgba(61,14,73,1);
	--color-fucsia-800: rgba(86,20,103,1);
	--color-fucsia-700: rgba(124,27,141,1);
	--color-fucsia-600: rgba(170,34,180,1);
	--color-fucsia-500: rgba(219,67,219,1);
	--color-fucsia-400: rgba(224,92,220,1);
	--color-fucsia-300: rgba(231,126,227,1);
	--color-fucsia-200: rgba(240,178,236,1);
	--color-fucsia-100: rgba(247,212,242,1);
	--color-turq-900: rgba(13,69,74,1);
	--color-turq-800: rgba(17,94,95,1);
	--color-turq-700: rgba(26,143,131,1);
	--color-turq-600: rgba(31,173,152,1);
	--color-turq-500: rgba(38,215,178,1);
	--color-turq-400: rgba(75,231,197,1);
	--color-turq-300: rgba(128,229,207,1);
	--color-turq-200: rgba(164,234,220,1);
	--color-turq-100: rgba(206,248,239,1);
	--color-yellow-900: rgba(93,50,9,1);
	--color-yellow-800: rgba(142,97,6,1);
	--color-yellow-700: rgba(190,147,4,1);
	--color-yellow-600: rgba(230,200,5,0.960);
	--color-yellow-500: rgba(255,229,37,1);
	--color-yellow-400: rgba(252,233,90,1);
	--color-yellow-300: rgba(252,236,131,1);
	--color-yellow-200: rgba(252,241,161,1);
	--color-yellow-100: rgba(253,245,206,1);
	--color-red-900: rgba(96,6,35,1);
	--color-red-800: rgba(125,8,31,1);
	--color-red-700: rgba(175,8,33,1);
	--color-red-600: rgba(206,18,34,1);
	--color-red-500: rgba(229,26,26,1);
	--color-red-400: rgba(255,85,71,1);
	--color-red-300: rgba(255,134,112,1);
	--color-red-200: rgba(255,170,153,1);
	--color-red-100: rgba(255,218,204,1);
	--color-transparent: rgba(255,255,255,0.000);
	--color-oeweek-green-900: rgba(19,73,18,1);
	--color-oeweek-green-800: rgba(30,114,29,1);
	--color-oeweek-green-700: rgba(38,143,36,1);
	--color-oeweek-green-600: rgba(45,170,42,1);
	--color-oeweek-green-500: rgba(52,196,49,1);
	--color-oeweek-green-400: rgba(78,210,75,1);
	--color-oeweek-green-300: rgba(139,224,133,1);
	--color-oeweek-green-200: rgba(185,237,182,1);
	--color-oeweek-green-100: rgba(219,245,214,1);
	--color-oeweek-purple-800: rgba(34,17,85,1);
	--color-oeweek-purple-500: rgba(102,75,218,1);
	--color-oeweek-purple-100: rgba(219,213,246,1);
	--color-brand-blue-900: rgba(13,21,48,1);
	--color-brand-blue-800: rgba(28,43,90,1);
	--color-brand-blue-700: rgba(31,55,122,1);
	--color-brand-blue-600: rgba(26,82,178,1);
	--color-brand-blue-500: rgba(13,89,242,1);
	--color-brand-blue-400: rgba(59,128,247,1);
	--color-brand-blue-300: rgba(108,160,249,1);
	--color-brand-blue-200: rgba(158,193,250,1);
	--color-brand-blue-100: rgba(216,231,253,1);
}
